---
import Layout from "../layouts/Layout.astro";
/*<h1>Welcome to Juli치n's World</h1>
	<p>This is a place dedicated to celebrate Juli치n Molina's cult.</p>
	<p>Feel free to explore and enjoy!</p>
	<a href="/art">Explore the Art Gallery</a>*/
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Lorem Ipsum" description="A web to adore and love">
    <main>
        <section>
            <div></div>
            <div></div>
        </section>
        <section class="section2">
            <div class="div2"></div>
            <div class="div2"></div>
        </section>
    </main>
</Layout>

<style>
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 25rem;
        grid-template-rows: 1fr;
        gap: 1rem;
        width: 100%;
    }

    .section2 {
        display: grid;
        grid-template-columns: 25rem 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        width: 100%;
    }

    div {
        width: 100%;
        height: 450px;
        background-color: #a6ecf8;
        border-radius: 20px;
    }

    .div2 {
        height: 300px;
    }

    .div2:first-child {
        background-color: #e9fad9;
    }

    .div2:last-child {
        background-color: #a6ecf8;
    }

    @media (max-width: 1367px) {
        section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
            width: 100%;
        }

        .section2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
            width: 100%;
        }

        div:first-child {
            background-color: #a6ecf8;
            height: 300px;
        }

        div:last-child {
            background-color: #e9fad9;
            height: 300px;
        }

        .div2:first-child {
            background-color: #e9fad9;
            height: 300px;
        }

        .div2:last-child {
            background-color: #a6ecf8;
            height: 300px;
        }
    }

    @media (max-width: 769px) {
        section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            width: 100%;
        }

        .section2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            width: 100%;
        }
    }
</style>
--- import Layout from "../layouts/Layout.astro"; /*<h1>
    Welcome to Juli치n's World
</h1>
<p>This is a place dedicated to celebrate Juli치n Molina's cult.</p>
<p>Feel free to explore and enjoy!</p>
<a href="/art">Explore the Art Gallery</a>*/ // Welcome to Astro! Wondering what
to do next? Check out the Astro documentation at https://docs.astro.build //
Don't want to use any of this? Delete everything in this file, the `assets`,
`components`, and `layouts` directories, and start fresh. ---

<Layout title="Lorem Ipsum" description="A web to adore and love">
    <main>
        <section>
            <div></div>
            <div></div>
        </section>
        <section class="section2">
            <div class="div2"></div>
            <div class="div2"></div>
        </section>
    </main>
</Layout>

<style>
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
    section {
        display: grid;
        grid-template-columns: 1fr 25rem;
        grid-template-rows: 1fr;
        gap: 1rem;
        width: 100%;
    }

    .section2 {
        display: grid;
        grid-template-columns: 25rem 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        width: 100%;
    }

    div {
        width: 100%;
        height: 450px;
        background-color: rgb(129, 210, 224);
        border-radius: 20px;
    }

    .div2 {
        height: 300px;
    }

    .div2:first-child {
        background-color: rgb(189, 230, 150);
    }

    .div2:last-child {
        background-color: rgb(129, 210, 224);
    }

    @media (max-width: 1367px) {
        section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
            width: 100%;
        }

        .section2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1rem;
            width: 100%;
        }

        div:first-child {
            background-color: #rgb(129, 210, 224);
            height: 100%;
        }

        div:last-child {
            background-color: rgb(189, 230, 150);
            height: 100%;
        }

        .div2:first-child {
            background-color: rgb(189, 230, 150);
            height: 100%;
        }

        .div2:last-child {
            background-color: rgb(129, 210, 224);
            height: 100%;
        }
    }

    @media (max-width: 769px) {
        section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            width: 100%;
        }

        .section2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            width: 100%;
        }
    }
</style>
