---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Art" description="A collection of art">
    <h1>Art Gallery</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="gallery">
        <p>
            Here you can find various artworks inspired by Lorem Ipsum. Each
            piece is a tribute to his unique charm and charisma.
        </p>
    </div>
</Layout>

<style>
    h1 {
        text-align: center;
        color: rgb(0, 153, 255);
        text-shadow:
            0 0 30px #007bff,
            0 0 70px #007bff;
    }
    p {
        text-align: center;
        color: #333; /* Dark gray for better readability */
    }
    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #007bff; /* Bootstrap primary color */
        text-decoration: none;
        font-weight: bold;
    }
    a:hover {
        text-decoration: underline;
        color: #0056b3; /* Darker shade on hover */
    }
    @media (prefers-color-scheme: dark) {
        body {
            background-color: #121212;
            color: #e0e0e0;
        }
        h1 {
            color: rgb(202, 115, 15);
            text-shadow:
                0 0 20px rgb(202, 115, 15),
                0 0 30px rgb(202, 115, 15),
                0 0 40px rgb(202, 115, 15),
                0 0 70px rgb(202, 115, 15);
        }
        p {
            color: #e0e0e0;
        }
        a {
            color: #007bff;
        }
        a:hover {
            color: #0056b3;
        }
    }
</style>
