---
import Layout from "../layouts/Layout.astro";
/*<h1>Welcome to Julián's World</h1>
	<p>This is a place dedicated to celebrate Julián Molina's cult.</p>
	<p>Feel free to explore and enjoy!</p>
	<a href="/art">Explore the Art Gallery</a>*/
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Lorem Ipsum" description="A web to adore and love" />
