---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Card from "../components/card.astro";

/*<h1>Welcome to Julián's World</h1>
	<p>This is a place dedicated to celebrate Julián Molina's cult.</p>
	<p>Feel free to explore and enjoy!</p>
	<a href="/art">Explore the Art Gallery</a>*/
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="L'evolució De l'Art"
	description="Un lloc web per  explorar l'evolució de l'art a través de les èpoques i els artistes més influents."
>
	<Hero
		title="L'evolució De l'Art"
		content="Un viatge a través de la història de l'art, des dels primers temps de la humanitat fins a expressions contemporànies."
		quote="L’art no reprodueix allò visible, sinó que fa visible allò invisible."
	/>
	<section>
		<Card title="Art" href="/art">
			<img class="timeline" src="/svg/timeline.svg" alt="SVG Timeline" />
			<p>Un viatge per l'evolució de l'art.</p>
		</Card>
		<Card title="Explora" href="/explore">
			<p>Explora les diferents obres l'art de totes èpoques.</p>
			<img class="arrow" src="/svg/arrow.svg" alt="SVG Arrow" />
		</Card>
		<Card title="Artistes" href="/artists">
			<p>
				Descobreix els grans mestres de l'art i les seves obres més
				icòniques.
			</p>
		</Card>
		<Card title="Sobre" href="/about">
			<p>Una breu explicació sobre els autors del web</p>
		</Card>
	</section>
</Layout>

<style>
	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		padding: 2rem;
	}
	section > * {
		flex: 1 1 calc(25% - 2rem);
		box-sizing: border-box;
	}

	p {
		font-size: 1.5rem;
		color: #555;
		margin-top: 1rem;
	}

	.arrow {
		width: 25px;
		height: 25px;
		margin-bottom: 1rem;
		transition: transform 0.3s ease;
		align-self: end;
		margin-right: 1rem;
	}

	.timeline {
		width: 10rem;
		height: auto;
		margin-top: 1rem;
	}
</style>
