<footer>
    <ul>
        <li>
            <a
                target="_blank"
                href="https://github.com/CucaStuduos/ProjecteDeRecerca"
                ><img src="/svg/GitHub.svg" alt="Icona de GitHub" /></a
            >
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com/alex.rogel._/"
                ><img src="/svg/ig.svg" alt="Icona d'Instagram" /></a
            >
        </li>
        <li>
            <a target="_blank" href="https://www.youtube.com/@Dude_000-XD"
                ><img src="/svg/YouTube.svg" alt="Icona de YouTube" /></a
            >
        </li>
        <li>
            <a
                target="_blank"
                href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://twitter.com/minecraft%3F&ved=2ahUKEwiQyrXyv-uNAxV2UKQEHR3YDT0QFnoECBgQAQ&usg=AOvVaw2JR3pSqO2GDxRkxckIGoMB"
                ><img src="/svg/X.svg" alt="Icona de X" /></a
            >
        </li>
    </ul>
    <p>© 2025 CRVStudios. All rights reserved.</p>
</footer>

<style>
    footer {
        margin-top: auto;
        background-color: #A6ECF8;
        padding: 1rem;
        border-radius: 20px;
    }
    p {
        text-align: center;
    }

    footer ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
    }
    footer ul li {
        display: inline-block;
    }
    footer ul li img {
        width: 36px;
        height: 36px;
        transition: transform 0.3s ease;
    }
    footer ul li img:hover {
        transform: scale(1.25);
    }

    @media (prefers-color-scheme: dark) {
        footer {
            color: #e0e0e0;
        }
        footer ul li img {
            filter: invert(1);
        }
    }
</style>
