---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import ClientRouter from "astro/components/ClientRouter.astro";

import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/svg/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<header>
			<Header />
		</header>
		<main>
			<slot />
			<section>
				<div></div>
				<Footer />
			</section>
		</main>
		<footer></footer>
	</body>
</html>

<style>
	html,
	body {
		font-family: aktiv-grotesk-extended, "Montserrat Variable", sans-serif;
		max-width: 100%;
		display: grid;
		grid-template-rows: 100px 1fr 1fr;
		grid-template-columns: 1fr;
		margin: 1rem;
		justify-content: start;
		overscroll-behavior: none;
		background-color: #f0f9f3;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 30rem;
		gap: 1rem;
	}

	main div {
		width: 100%;
		height: 615px;
		background-color: #e9fad9;
		border-radius: 20px;
	}

	footer div {
		background-color: brown;
		width: 100%;
		height: 10px;
	}
	section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 615px 150px;
		width: 100%;
		height: 100%;
	}

	@media (max-width: 1214px) {
		main {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1rem;
		}

		section div {
			height: 500px;
		}

		section {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 500px 150px;
			width: 100%;
			height: 100%;
		}
	}
</style>
