---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import ClientRouter from "astro/components/ClientRouter.astro";

import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/svg/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={Astro.props.description} />
		<title>{Astro.props.title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		font-family: "Montserrat Variable", sans-serif;
		margin: 0px;
		padding: 0px;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		flex: 1;
	}
</style>
